<!DOCTYPE html>
<html>
<head>
  <title>Koombea Movies</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <link type="image/jpg" href="assets/images/watch_info_icon.jpg" rel="icon">
  <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render :partial => 'layouts/header' %>
	<div class="master-panel">
		<%= yield %>
	</div>
	<%= render :partial => 'layouts/footer' %>
</body>
</html>
